body,
html {
  height: 100%;
  margin: 0;
}

.container {
  margin: 40px;
}

.parallax1 {
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.parallax1 {
  background-image: url("../images/BeCodeZW-9845.jpg");
  min-height: 500px;

}

.parallax2 {
  background-image: url("../images/tree2.jpg");
  min-height: 300px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax3 {
  background-image: url("../images/BeCodeZW-9849.jpg");
  min-height: 500px;
  background-size: cover;
  background-position: 10% 40%;
}

h1,
.subtitle {
  text-align: right;
  padding-right: 80px;
  padding-top: 50px;


}

header,
footer {
  text-align: center;
  padding-bottom: 20px;
}

footer {
  margin-top: 50px;
}

section {
  text-align: center;
  padding: 40px 70px;


}

.story {
  text-align: center;
}

.aboutme,
.talent,
.info {
  text-align: center;
  padding-left: 50px 80px;
}

.ginger {
  color: #b06500;
}

.camomile {
  border-color: #e2ea4f;
  border-bottom-style: solid;
}

/* .showSkills {
  width: 100%;
  background-color: rgba(253, 249, 249, 0.424);
  width: 400px;
}

.showSkills p {
  text-align: left;
}

.skills {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.html,
.css,
.js,
.php,
.github,
.Communication {
  border-width: 2px;
}

.html {
  width: 80%;
  background-color: #b06500;
}

.css {
  width: 70%;
  background-color: #b06500;
}

.js {
  width: 65%;
  background-color: #b06500;
}

.php {
  width: 30%;
  background-color: #b06500;
}

.github {
  width: 60%;
  background-color: #b06500;
}



.Communication {
  width: 80%;
  background-color: #b06500;
}
 */


.contact {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}